/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background font-sans text-foreground;
}

.entry-content h2 {
	font-family: "Right Grotesk-TallBold";
	font-size: 67.77px;
	color: #2C3639;
	margin-top: 40px;
	margin-bottom: 24px;
	letter-spacing: 0.025em;
}

.blog-posts:nth-child(3n) {
	margin-right: 0px;
}

@media(max-width: 768px) {
	.entry-content h2 {
		font-size: 42px;
		margin-top: 48px;
		margin-bottom: 24px;
	}
}
