/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */
 .entry-content h2 {
	font-family: "Right Grotesk-TallBold";
	font-size: 67.77px;
	color: #2C3639;
	margin-top: 40px;
	margin-bottom: 24px;
	letter-spacing: 0.025em;
}

.blog-posts:nth-child(3n) {
	margin-right: 0px;
}

.nav-arrow {
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover .nav-arrow {
  opacity: 1;
}

.overlay {
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
	opacity: 0.80;
}

@media(max-width: 768px) {
	.entry-content h2 {
		font-size: 42px;
		margin-top: 48px;
		margin-bottom: 24px;
	}
}