/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */
 .entry-content h2 {
	font-family: "Right Grotesk-TallBold";
	font-size: 67.77px;
	color: #2C3639;
	margin-top: 40px;
	margin-bottom: 24px;
	letter-spacing: 0.025em;
}



.blog-posts:nth-child(3n) {
	padding-right: 0px;
}



.nav-arrow {
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover .nav-arrow {
  opacity: 1;
}

.overlay {
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay,
.blog-card:hover .overlay {
	opacity: 0.80;
}

a:hover path {
  fill: #E68333;
}

/* .project-card:hover .project-text {
	color: #E68333;
	border-color: #E68333;
}

.blog-card .overlay:hover .blog-preview-text p {
	color: #E68333;
} */

.grabbable {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}



@media(min-width: 768px) {
	.project-card:nth-child(odd) {
		margin-top: 48px;
	}
}

@media(max-width: 768px) {
	.entry-content h2 {
		font-size: 42px;
		margin-top: 48px;
		margin-bottom: 24px;
	}

	.project-card:nth-child(odd) {
		align-self: end;
	}

	.hero-text {
		font-size: 128px;
	}
}

@media(max-width: 670px) {
	.content-heading {
		padding-inline: 16px;
	}
}

@media(max-width: 600px) {
	.hero-text {
		font-size: 100px;
	}
}

@media(max-width: 470px) {
	.hero-text {
		font-size: 80px;
	}
}

